<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<!-- 
  autoReload="true": 修改配置文件后自动重新加载，无需重启程序
  throwConfigExceptions="true": 配置文件如果有错会抛出异常，方便调试
  -->

	<targets>
		<!-- 文件目标: 按天保存日志 -->
		<target xsi:type="File" name="logfile"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}"
				keepFileOpen="true"
				encoding="utf-8" />

		<!-- 如果以后需要控制台输出，可以取消注释下面这行 -->
		<!-- <target xsi:type="Console" name="logconsole" /> -->
	</targets>

	<rules>
		<!-- 将 Debug 及以上级别的日志写入文件 -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>